<%=stylesheet_link_tag "simple" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        </head>

        <body class="stretched ">
            <div id="wrapper" class=" fallback-message clearfix" style="background: transparent;">
                <div href="#home" id="logo">
                    <a href="#home" class="standard-logo" data-dark-logo="assets/logo.png"><img href="#home" style="height:100px; position: fixed; top: 5vh; left:2.5vw; z-index: 1000;" src="assets/logo.png" alt="IdeaPortal Logo"></a>
                    <a href="#home" class="retina-logo" data-dark-logo="assets/logo.png"><img src="assets/logo.png" alt="IdeaPortal Logo"></a>
                </div>
                <!-- #logo end -->
                <header id="header" class=" header transparent side-header-right" style="background:transparent !important;position: fixed; top: 5vh; height:50vh; width:25vw; right:10vw; z-index: 1000;">
                    <div id="header-wrap" style="background:transparent">
                        <div class="container clearfix nomargin nopadding" style="width:100%">
                            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                            <nav id="primary-menu">
                                <ul class="ip_nav" style="display: flex;flex-direction: column; height: 50vh width:200px; ">
                                    <li><a href="#home" class="selected">Home</a>
                                    </li>
                                    <li><a href="#solutions">Solutions</a>
                                    </li>
                                    <li><a href="#expertise">Expertise</a>
                                    </li>
                                    <li><a href="#careers">Careers</a>
                                    </li>
                                    <li><a href="#about">About Us</a>
                                    </li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
                <section id="content" class="full-screen with-header  clearfix" style="background: transparent;">
                    <div class="container clearfix nomargin nopadding" style="min-height:100vh; min-width: 100vw; background: transparent;">
                        <div id="simple" style="background: white">
                            <div class="step" data-x="700" data-y="-299" data-rotate="0" data-scale="1">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">
                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left"><div class="heroimage"></div>Slide 1
                                    </div>
                                </div>
                            </div>
                            <div class="step" data-x="-400" data-y="800" data-rotate="90" data-scale="1">
                                <p style="font-size: 40px;color: black">Slide 2</p>
                            </div>
                            <div class="step" data-x="-1500" data-y="-300" data-rotate="180" data-scale="1">
                                <p style="font-size: 40px;color: black">Slide 3</p>
                            </div>
                            <div class="step" data-x="-399" data-y="-1400" data-rotate="270" data-scale="1">
                                <p style="font-size: 40px;color: black">Slide 4</p>
                            </div>
                        </div>
                        <div id="footer" class="footer" style="margin-top:95vh;">
                            <div class="col_full center nomargin nopadding" style="font-size: .9em">
                                <i>Copyright - IdeaPortal Services Pvt Ltd - 2017</i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </body>
        <%= javascript_include_tag 'jmpress' %>
            <script>
            bumbum = 1;
            setTimeout(function() {

                $('#simple').jmpress({
                    animation: {
                        transformOrigin: 'center center', // Point on which to transform (unused)
                        transitionDuration: '2s', // Length of animation
                        transitionDelay: '500ms', // Delay before animating
                        transitionTimingFunction: 'ease', // Animation effect
                        stepSelector: 'p'
                    },
                    transitionDuration: 2000 // Set this according to animation.transitionDuration
                        // It is used for setting the timeout for the transition
                });





                $(["home", "solutions", "about", "expertise", "contact"]).each(function() {
                    console.log(this);
                    console.log($('#' + this));
                    var self = this

                    $('#' + this).on('enterStep', function(event) {


                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).addClass('selected')
                        }

                        console.log($('ul.ip_nav li a:Contains(' + self + ')')[0]);
                    });

                    $('#' + this).on('leaveStep', function(event) {


                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });

                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).removeClass('selected')
                        }
                    });
                });


            });
            </script>
