<%=stylesheet_link_tag "simple" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        </head>

        <body class="stretched ">
            <div id="wrapper" class=" fallback-message clearfix" style="background: transparent;">
                <div href="#home" id="logo">
                    <a href="#home" class="standard-logo" data-dark-logo="assets/logo.png"><img href="#home" style="height:100px; position: fixed; top: 5vh; left:2.5vw; z-index: 1000;" src="assets/logo.png" alt="IdeaPortal Logo"></a>
                    <a href="#home" class="retina-logo" data-dark-logo="assets/logo.png"><img src="assets/logo.png" alt="IdeaPortal Logo"></a>
                </div>
                <!-- #logo end -->
                <header id="header" class=" header transparent side-header-right" style="background:transparent !important;position: fixed; top: 5vh; height:50vh; width:10vw; right:10vw; z-index: 1000;">
                    <div id="header-wrap" style="background:transparent">
                        <div class="container clearfix nomargin nopadding" style="width:100%">
                            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                            <nav id="primary-menu">
                                <ul class="ip_nav" style="display: flex;flex-direction: column; height: 50vh width:200px; ">
                                    <li><a href="#baba">BabaG</a>
                                    </li>
                                    <li><a href="#about">About</a>
                                    </li>
                                    <li><a href="#people">People</a>
                                    </li>
                                    <li><a href="#careers">Careers</a>
                                    </li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
                <section id="content" class="full-screen with-header  clearfix" style="background: transparent;">
                    <div class="container clearfix nomargin nopadding" style="min-height:100vh; min-width: 100vw; background: transparent;">

                        <div id="simple" style="background: white;perspective: 5500px !important;">

                            <div id="home" class="step nomargin" data-x="10000" data-z="10" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200;">
                                            <div class="heroimage"></div>
                                            <b style="text-align: right; font-size: 50px">IdeaPortal</b><br><i style="text-align: center; font-size: 35px">Breathing Life Into Vision</i>
                                        </h2>

                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">
                                        <p style="font-weight: 200; font-size: 25px; color: black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non velit sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                    </div>
                                </div>
                            </div>

                            <div id="baba" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left;"><div class="heroimage"></div></h2>
                                    </div>
                                </div>
                            </div>

                            <div id="about" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-rotate-y="90" data-scale="15">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left"><div class="heroimage"></div></h2>
                                    </div>
                                </div>
                            </div>

                            <div id="people" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-rotate-y="180" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>
                                            <p style="text-align: left; font-size: 15px">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.<br> Vivamus venenatis metus ut augue sollicitudin, id eleifend libero pretium.<br>Curabitur euismod imperdiet nisi, vel luctus sapien pharetra at.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <p class="people-more section-content-more">

                                            <a class="person-link" href="https://www.linkedin.com/in/achal-kaundinya-2a222a127/" target="_blank">
                                                <img alt="Achal Kaundinya" class="human grayscale" src="assets/Achal.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/bharat-ganesh-01042053/" target="_blank">
                                                <img alt="Bharat Ganesh" class="human grayscale" src="assets/Bharat.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/darshanputtannaiah/" target="_blank">
                                                <img alt="Darshan Puttanaiha" class="human grayscale" src="assets/Darshan.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/disha-suresh-062998a0/" target="_blank">
                                                <img alt="Disha Suresh" class="human grayscale" src="assets/Disha.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/kratik-nayak-a75012b6/" target="_blank">
                                                <img alt="Kratik Nayak" class="human grayscale" src="assets/Kratik.jpg" />
                                            </a>

                                            <br>

                                            <a class="person-link" href="https://www.linkedin.com/in/krishna-m-v-89a349137/" target="_blank">
                                                <img alt="Krishna MV" class="human grayscale" src="assets/Krishna.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/nikhil-vallishayee-81990615/" target="_blank">
                                                <img alt="Nikhil V V" class="human grayscale" src="assets/Nik.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/shyamal-bhat-65645796/" target="_blank">
                                                <img alt="Shymal Bhatt" class="human grayscale" src="assets/Shyamal.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/vikram-devaiah-39156976/" target="_blank">
                                                <img alt="Vikram" class="human grayscale" src="assets/Vikram.jpg" />
                                            </a>
                                        </p>

                                    </div>

                                </div>
                                </h2>
                            </div>

                            <div id="careers" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-rotate-y="270" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>

                                            <p style="text-align: left; font-size: 15px">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.<br> Vivamus venenatis metus ut augue sollicitudin, id eleifend libero pretium.<br>Curabitur euismod imperdiet nisi, vel luctus sapien pharetra at.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <br>
                                        <br>

                                        <a class="button button-large button-border button-rounded tright" style="margin-right: 200px; width: 150px;"><b style="text-align:center;">Developer</b></a>

                                        <a class="button button-large button-border button-rounded tright" style=" width: 150px; padding: 0px 43px"><b style="text-align:center;">Editor</b></a>

                                        <a class="button button-large button-border button-rounded tright" style="margin-left: 200px; width: 150px"><b style="text-align:center;">Operations</b></a>

                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>

                                        <a class="button button-large button-border button-rounded tright" style="margin-right: 200px; width: 150px"><b style="text-align:center;">Copy Editor</b></a>

                                        <a class="button button-large button-border button-rounded tright" style="width: 150px; padding: 0px 30px"><b style="text-align:center;">Designer</b></a>

                                        <a class="button button-large button-border button-rounded tright" style="margin-left: 200px; width: 150px;padding: 0px 30px"><b style="text-align:center;">Animator</b></a>

                                    </div>

                                </div>
                            </div>

                            <div id="contact" class="step" data-x="10000" data-z="10" data-rotate-x="180" data-scale="15">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 25vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>
                                            <p style="font-size:15px">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="footer" class="footer" style="margin-top:95vh;">
                            <div class="col_full center nomargin nopadding" style="font-size: .9em">
                                <i>Copyright - IdeaPortal Services Pvt Ltd - 2017</i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </body>
        <%= javascript_include_tag 'jmpress' %>
            <script>
            bumbum = 1;
            setTimeout(function() {
                $('#simple').jmpress({
                    animation: {
                        transformOrigin: 'center center', // Point on which to transform (unused)
                        transitionDuration: '2s', // Length of animation
                        transitionDelay: '500ms', // Delay before animating
                        transitionTimingFunction: 'ease', // Animation effect
                        stepSelector: 'p'
                    },
                    transitionDuration: 2000 // Set this according to animation.transitionDuration
                        // It is used for setting the timeout for the transition
                });
                $(["baba", "about", "people", "careers", "contact"]).each(function() {
                    console.log(this);
                    console.log($('#' + this));
                    var self = this
                    $('#' + this).on('enterStep', function(event) {
                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).addClass('selected')
                        }
                        console.log($('ul.ip_nav li a:Contains(' + self + ')')[0]);
                    });
                    $('#' + this).on('leaveStep', function(event) {
                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).removeClass('selected')
                        }
                    });
                });
            });
            var show = document.querySelector('#sol');
            show.addEventListener('click', function runThisOnButtonClick(event) {
                $('#solutions1').css("opacity", "1");
                $('#solutions2').css("opacity", "1");
                $('#solutions3').css("opacity", "1");
                $('#solutions4').css("opacity", "1");
            });
            // var hide = document.querySelector('#home','#solutions','#expertise','#contact','#about','#careers');
            // hide.addEventListener('click', function runThisOnButtonClick(event) {
            // $('#solutions1').css("opacity","0 !important");
            // $('#solutions2').css("opacity","0");
            // $('#solutions3').css("opacity","0");
            // $('#solutions4').css("opacity","0");
            // });
            // setInterval(function() {
            // if($('#simple.step-solutionoverview').length===0)
            // {$('#solutions1').css("opacity","0")
            // $('#solutions2').css("opacity","0")
            // $('#solutions3').css("opacity","0")
            // $('#solutions4').css("opacity","0")}
            // }, 1000);
            </script>
