<%=stylesheet_link_tag "simple" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        </head>

        <body class="stretched ">
            <div id="wrapper" class=" fallback-message clearfix" style="background: transparent;">
                <div href="#home" id="logo">
                    <a href="#home" class="standard-logo" data-dark-logo="assets/logo.png"><img href="#home" style="height:100px; position: fixed; top: 5vh; left:2.5vw; z-index: 1000;" src="assets/logo.png" alt="IdeaPortal Logo"></a>
                    <a href="#home" class="retina-logo" data-dark-logo="assets/logo.png"><img src="assets/logo.png" alt="IdeaPortal Logo"></a>
                </div>
                <!-- #logo end -->
                <header id="header" class=" header transparent side-header-right" style="background:transparent !important;position: fixed; top: 5vh; height:50vh; width:10vw; right:10vw; z-index: 1000;">
                    <div id="header-wrap" style="background:transparent">
                        <div class="container clearfix nomargin nopadding" style="width:100%">
                            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                            <nav id="primary-menu">
                                <ul class="ip_nav" style="display: flex;flex-direction: column; height: 50vh width:200px; ">
                                    <li><a class="blink" href="#baba" style="color: #3AFF00">BabaG</a>
                                    </li>
                                    <li><a href="#about">About</a>
                                    </li>
                                    <li><a href="#people">People</a>
                                    </li>
                                    <li><a href="#careers">Careers</a>
                                    </li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
                <section id="content" class="full-screen with-header  clearfix" style="background: transparent;">
                    <div class="container clearfix nomargin nopadding" style="min-height:100vh; min-width: 100vw; background: transparent;">

                        <div id="simple" style="background: white;perspective: 5500px !important;">

                            <div id="home" class="step nomargin" data-x="10000" data-z="10" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200;">
                                            <div class="heroimage"></div>
                                            <b style="text-align: right; font-size: 50px">IdeaPortal</b><br><i style="text-align: center; font-size: 35px">Breathing Life Into Vision</i>
                                        </h2>

                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">
                                        <p style="font-weight: 200; font-size: 25px; color: black"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non velit sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                    </div>
                                </div>
                            </div>

                            <div id="baba" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200;">
                                            <div class="babag"></div>
                                            <div class="heroimage"></div>
                                            <b style="text-align: right; font-size: 50px">BabaG</b><br><i style="text-align: center; font-size: 35px">Namma smart friend!</i>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <br>
                                        <br>

                                        <button id="babag-what" class="button button-large button-border button-rounded tright" style="margin-right: 200px; width: 150px;padding: 0px 43px"><b style="text-align:center;">What?</b></button>
                                        <p id="babag-what-answer" style='display:none;color:black;'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <a id="babag-why" class="button button-large button-border button-rounded tright" style=" width: 150px; padding: 0px 43px"><b style="text-align:center;">Why?</b></a>
                                        <p id="babag-why-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <a id="babag-who" class="button button-large button-border button-rounded tright" style="margin-left: 200px; width: 150px; padding: 0px 43px"><b style="text-align:center;">Who?</b></a>
                                        <p id="babag-who-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>
                                    </div>
                                </div>
                            </div>

                            <div id="about" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-rotate-y="90" data-scale="15">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 40vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left"><div class="heroimage"></div></h2>
                                    </div>
                                </div>
                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">
                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
                                                <div class="fbox-icon">
                                                    <i class="icon-phone2"></i>
                                                </div>
                                                <h3 class="fleft" style="font-family:museo-sans-condensed;letter-spacing:1px;">FrontEnd Agility</h3>
                                                <div class="clear"></div>
                                                <p style="text-align:left;"> Our RESTful modelling allows all incubated products to have multiple front ends.
                                                    <br> Responsive Layouts ensure that our web pages remain app first.</p>
                                            </div>
                                        </div>
                                        <script>
                                        $("#para").removeClass("center");
                                        </script>

                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="200">
                                                <div class="fbox-icon">
                                                    <a href="#"><i class="icon-check"></i> </a>
                                                </div>
                                                <h3 class="fleft" style="font-family:museo-sans-condensed;letter-spacing:1px;">Test Driven</h3>
                                                <div class="clear"></div>
                                                <p style="text-align:left;">Our focuss on TDD, continous integration, automated behavioural tests and developer testing ensure that all efforts stay focused and stack up without regression. </p>
                                            </div>
                                        </div>

                                        <div id="not_centered" class="col_one_third col_last">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="400">
                                                <div class="fbox-icon">
                                                    <i class="icon-star2"></i>
                                                </div>
                                                <h3 class="fleft" style="font-family:museo-sans-condensed;letter-spacing:1px;">World Class DevOps</h3>
                                                <div class="clear"></div>
                                                <p style="text-align:left;">Prod like development containers. Continous Integration and auto deployed staging environments. 12-factor friendly scalable, secure & reliable cloud environments. </p>
                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">
                                                <div class="fbox-icon">
                                                    <i class="icon-video"></i>
                                                </div>
                                                <h3 class="fleft" style="font-family:museo-sans-condensed;letter-spacing:1px;">Presentation Centered</h3>
                                                <div class="clear"></div>
                                                <p style="text-align:left;">Choose help on visual assets, imagery & videography along with context specific content and copy from a wide spectrum of external collaborators.</p>
                                            </div>
                                        </div>

                                        <div id="not_centered" class="col_one_third">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="800">
                                                <div class="fbox-icon">
                                                    <i class="icon-params"></i>
                                                </div>
                                                <h3 class="fleft" style="font-family:museo-sans-condensed;letter-spacing:1px;">Complete Control</h3>
                                                <div class="clear"></div>
                                                <p style="text-align:left;">Organize and Manage Production Data; Realtime system analyses. Expert SEO and SEM. A/B & Experiment based decision making.</p>
                                            </div>
                                        </div>

                                        <div class="col_one_third col_last">
                                            <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1000">
                                                <div class="fbox-icon">
                                                    <i class="icon-fire"></i>
                                                </div>
                                                <h3 class="fleft" style="font-family:museo-sans-condensed;letter-spacing:1px;">Agile Teams</h3>
                                                <div class="clear"></div>
                                                <p style="text-align:left;">Pair programming. Pace and goal based staffing. Transparency in work.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="people" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-rotate-y="180" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>
                                            <p style="text-align: left; font-size: 15px">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.<br> Vivamus venenatis metus ut augue sollicitudin, id eleifend libero pretium.<br>Curabitur euismod imperdiet nisi, vel luctus sapien pharetra at.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <p class="people-more section-content-more">

                                            <a class="person-link" href="https://www.linkedin.com/in/achal-kaundinya-2a222a127/" target="_blank">
                                                <img alt="Achal Kaundinya" class="human grayscale" src="assets/Achal.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/bharat-ganesh-01042053/" target="_blank">
                                                <img alt="Bharat Ganesh" class="human grayscale" src="assets/Bharat.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/darshanputtannaiah/" target="_blank">
                                                <img alt="Darshan Puttanaiha" class="human grayscale" src="assets/Darshan.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/disha-suresh-062998a0/" target="_blank">
                                                <img alt="Disha Suresh" class="human grayscale" src="assets/Disha.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/kratik-nayak-a75012b6/" target="_blank">
                                                <img alt="Kratik Nayak" class="human grayscale" src="assets/Kratik.jpg" />
                                            </a>

                                            <br>

                                            <a class="person-link" href="https://www.linkedin.com/in/krishna-m-v-89a349137/" target="_blank">
                                                <img alt="Krishna MV" class="human grayscale" src="assets/Krishna.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/nikhil-vallishayee-81990615/" target="_blank">
                                                <img alt="Nikhil V V" class="human grayscale" src="assets/Nik.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/shyamal-bhat-65645796/" target="_blank">
                                                <img alt="Shymal Bhatt" class="human grayscale" src="assets/Shyamal.jpg" />
                                            </a>

                                            <a class="person-link" href="https://www.linkedin.com/in/vikram-devaiah-39156976/" target="_blank">
                                                <img alt="Vikram" class="human grayscale" src="assets/Vikram.jpg" />
                                            </a>
                                        </p>

                                    </div>

                                </div>
                                </h2>
                            </div>

                            <div id="careers" class="step" data-x="10000" data-z="10" data-rotate-x="90" data-rotate-y="270" data-scale="15">

                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 50vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">

                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>

                                            <p style="text-align: left; font-size: 15px">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.<br> Vivamus venenatis metus ut augue sollicitudin, id eleifend libero pretium.<br>Curabitur euismod imperdiet nisi, vel luctus sapien pharetra at.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>

                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                        <br>
                                        <br>

                                        <a id="careers1" class="button button-large button-border button-rounded tright" style="margin-right: 200px; width: 150px;"><b style="text-align:center;">Developer</b></a>
                                        <p id="careers1-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <a id="careers2" class="button button-large button-border button-rounded tright" style=" width: 150px; padding: 0px 43px"><b style="text-align:center;">Editor</b></a>
                                        <p id="careers2-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <a id="careers3" class="button button-large button-border button-rounded tright" style="margin-left: 200px; width: 150px"><b style="text-align:center;">Operations</b></a>
                                        <p id="careers3-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>

                                        <a id="careers4" class="button button-large button-border button-rounded tright" style="margin-right: 200px; width: 150px"><b style="text-align:center;">Copy Editor</b></a>
                                        <p id="careers4-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <a id="careers5" class="button button-large button-border button-rounded tright" style="width: 150px; padding: 0px 30px"><b style="text-align:center;">Designer</b></a>
                                        <p id="careers5-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                        <a id="careers6" class="button button-large button-border button-rounded tright" style="margin-left: 200px; width: 150px;padding: 0px 30px"><b style="text-align:center;">Animator</b></a>
                                        <p id="careers6-answer" style='display:none;color:black'>foo foo bar bar
                                            <br> foo bar foo bar</p>

                                    </div>

                                </div>
                            </div>

                            <div id="contact" class="step" data-x="10000" data-z="10" data-rotate-x="180" data-scale="15">
                                <div class="col_full center nomargin nopadding" style=" display: flex;flex-direction: column-reverse;justify-content: space-between; min-height: 25vh;background: white">

                                    <div class="center divcenter row clearfix commonheight leftmargin-sm" style=" ">
                                        <h2 class=" herotext" style="background: transparent;  font-weight: 200; text-align: left">
                                            <div class="heroimage"></div>
                                            <p style="font-size:15px">
                                                <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Quisque sit amet lorem vitae tellus vulputate posuere quis sed arcu.</i>
                                            </p>
                                        </h2>
                                    </div>
                                </div>
                                <div class="col_full center nomargin nopadding" style=" min-height: 50vh; max-height:50vh; background: #F7F5E9">

                                    <div class="center divcenter row clearfix commonheight " style="background:transparent; margin-top: 4vh">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="footer" class="footer" style="margin-top:95vh;">
                            <div class="col_full center nomargin nopadding" style="font-size: .9em">
                                <i>Copyright - IdeaPortal Services Pvt Ltd - 2017</i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </body>
        <%= javascript_include_tag 'jmpress' %>
            <script>
            bumbum = 1;
            setTimeout(function() {
                $('#simple').jmpress({
                    animation: {
                        transformOrigin: 'center center', // Point on which to transform (unused)
                        transitionDuration: '2s', // Length of animation
                        transitionDelay: '500ms', // Delay before animating
                        transitionTimingFunction: 'ease', // Animation effect
                        stepSelector: 'p'
                    },
                    transitionDuration: 2000 // Set this according to animation.transitionDuration
                        // It is used for setting the timeout for the transition
                });
                $(["baba", "about", "people", "careers", "contact"]).each(function() {
                    console.log(this);
                    console.log($('#' + this));
                    var self = this
                    $('#' + this).on('enterStep', function(event) {
                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).addClass('selected')
                        }
                        console.log($('ul.ip_nav li a:Contains(' + self + ')')[0]);
                    });
                    $('#' + this).on('leaveStep', function(event) {
                        jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
                            return function(elem) {
                                return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                            };
                        });
                        if ($('ul.ip_nav li a:Contains(' + self + ')')[0]) {
                            $($('ul.ip_nav li a:Contains(' + self + ')')[0]).removeClass('selected')
                        }
                    });
                });
            });
            $(document).ready(function() {
                $('#babag-what').click(function() {
                    $('#babag-what').hide();
                    $('#babag-what-answer').show(1000);
                })
                $('#babag-what-answer').click(function() {
                    $('#babag-what-answer').hide(1000);
                    $('#babag-what').show();
                })
                $('#babag-why').click(function() {
                    $('#babag-why').hide();
                    $('#babag-why-answer').show(1000);
                })
                $('#babag-why-answer').click(function() {
                    $('#babag-why-answer').hide(1000);
                    $('#babag-why').show();
                })
                $('#babag-who').click(function() {
                    $('#babag-who').hide();
                    $('#babag-who-answer').show(1000);
                })
                $('#babag-who-answer').click(function() {
                    $('#babag-who-answer').hide(1000);
                    $('#babag-who').show();
                })
                $('#careers1').click(function() {
                    $('#careers1').hide();
                    $('#careers1-answer').show(1000);
                })
                $('#careers1-answer').click(function() {
                    $('#careers1-answer').hide(1000);
                    $('#careers1').show();
                })
                $('#careers2').click(function() {
                    $('#careers2').hide();
                    $('#careers2-answer').show(1000);
                })
                $('#careers2-answer').click(function() {
                    $('#careers2-answer').hide(1000);
                    $('#careers2').show();
                })
                $('#careers3').click(function() {
                    $('#careers3').hide();
                    $('#careers3-answer').show(1000);
                })
                $('#careers3-answer').click(function() {
                    $('#careers3-answer').hide(1000);
                    $('#careers3').show();
                })
                $('#careers4').click(function() {
                    $('#careers4').hide();
                    $('#careers4-answer').show(1000);
                })
                $('#careers4-answer').click(function() {
                    $('#careers4-answer').hide(1000);
                    $('#careers4').show();
                })
                $('#careers5').click(function() {
                    $('#careers5').hide();
                    $('#careers5-answer').show(1000);
                })
                $('#careers5-answer').click(function() {
                    $('#careers5-answer').hide(1000);
                    $('#careers5').show();
                })
                $('#careers6').click(function() {
                    $('#careers6').hide();
                    $('#careers6-answer').show(1000);
                })
                $('#careers6-answer').click(function() {
                    $('#careers6-answer').hide(1000);
                    $('#careers6').show();
                })
            });
            </script>
